/* @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&family=Oswald:wght@200;500&family=Poppins:wght@600&display=swap' )   ; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
        overflow: hidden;
}

body{
    font: 15px 'Poppins',sans-serif ;        
}

/* Section_1 Styling */
.section_1{
    background: url(Assets/bg-hero-mobile.svg) #ECF9FF no-repeat;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    height: 42rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: auto;
    font-size: 14px;   

}

nav img{
    width: 30%;
}
nav button{
    background-color: #FEFFFF;
    width: 38%;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 0px 4px 10px  rgb(214, 211, 211);
    border: white;
}

.section_1b{
    text-align: center;
    width: 87%;
    margin: auto;
    margin-top: 15vh;
}
.section_1b p{
    padding-top: 15px;
    font-size: 13px;
    width: 96.5%;
    margin: auto;
}

.section_1c button{
    margin-top: 28px;
    width: 15rem;
    height: 3rem;
    background-color: #FE52C0;
    color: #FFD0FF;
    border-radius: 25px;
    padding: 10px;
    border: none;
}
.section_1c img{
   width: 17rem;
   margin-top: 30px;
}

/* Section_2 Styling */

.section_2b{
    width: 92%;
    margin: auto;
}

.section_2b p{
    width: 95%;
}
.section_2c , .section_2d, .section_2e {
    border: none;
    border-radius: 15px;
    margin: 5rem 0 80px 0;
    box-shadow: -1px 1px 5px rgb(226, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    height: 28rem;
}
.section_2c img, .section_2d img, .section_2e img{
    width: 15rem;
    margin-bottom: 55px;
    
}

/* Section_3 Styling */
.section_3{
    margin-top: 12rem;
}

.section_3b{
    position: relative;
    z-index: -1;
}

.section_3c{
    text-align: center;
    width: 92%;
    margin: auto;
    box-shadow: -1px -1px 5px rgb(194, 191, 191);
    display: flex;
    flex-direction: column;
    height: 11rem;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: #FAFFFF;
    position: absolute;
    top: -5rem;
    left: 13px;
    z-index: 1;
}

.section_3c button{
    background-color: #FE52C0;
    width: 12rem;
    height: 3rem;
    border-radius: 20px;
    border: none;
    color: #FFE9FF;
    margin-top: 25px;
    box-shadow: 1px 3px 1px grey ;
}

footer{
    background-color: #00252E;
    color: whitesmoke;
    padding-top: 10rem;
}

.section_3d{
    width: 92%;
    margin: auto;
}
.img{
    width: 11rem;
}

.section_3e, .section_3f, .section_3g{
    display: flex;
    margin-top: 50px;
}
.section_3e p, .section_3f p, .section_3g p{
    padding-left: 30px;
}

.section_3e img{
    height: 25px;
}

.section_3h {
    margin-top: 55px;
}

.section_3h li{
    margin-top: 20px;
}

.section_3j{
    text-align: center;
}
li{
    list-style: none;
}

